<!DOCTYPE html>
<html>
<head>
<title>JayFlatland.com</title>
<style type="text/css">
    body {
        font-family: arial;
    }
    .story {
        width: 600px;
    }

</style>
</head>
<body>
<h1><a href=/>JayFlatland.com</a></h1>
<h1>Oh Crap!</h1>
<div class=story>
<p>Well, it's been a good run for my old webserver, but it finally died.  It lasted 
nearly 13 years.  A GOOD RUN!  Bravo Brownbear, you served well.</p>
<p>But now it's time for something new.  Not sure what!  We'll see!</p>
</div>
</body>
</html>
